/* add styles here */
html {
   box-sizing: border-box;
}
body, div, p, h1, h2, h3 {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
}
header {
   background-image: url(../images/chicago.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0 0 20px 0;
   padding-left: 150px;
   padding-top: 100px;
   height: 500px;
  
}
header p { margin: 10px 0; font-size: 18px; }

header a:link {
   background-color: deeppink;
   color: white;
   border-radius: 4px;
   box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);   
   padding: 5px;
   text-decoration: none;
   margin-top: 20px;
}

h1 {
   color: white;
   font-size: 36px;
   font-weight: 800;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); 
}

main {
   padding: 20px;
}

div.box {
   display: inline-block;
   border-radius: 8px;

   padding: 10px;
   width: 300px;
   margin-right: 1em;
   color: lavender;
   font-weight: 300;
   text-align: center;
 
}

div.box h3 {
   font-size: 42px;
   margin-top: 10px;
   letter-spacing: 5px;
}

.dollar {
   font-size: 18px;
   margin-bottom: 5px;
   opacity: 0.5;  
}

.name {
   border-top: 1pt solid lavender;
   font-size: 14px;
   padding-top: 10px;   
   opacity: 0.5;     
}

div.box:nth-child(1) {
   background-color: darkgreen;
}
div.box:nth-child(2) {
   background-color: indigo;
}
div.box:nth-child(3) {
   background-color: navy;
   margin-right: 0;
}