
/* Add selector that will select all elements in the body */
body {
   font-family: 'Raleway', sans-serif;   
   font-weight: 300;   
   margin: 25px;
}

/* Add selector for both heading tags */
h1, h2 {
   font-family: 'Merriweather', serif;
}

/* Add selector that will select first level headings */
h1 {
   font-weight: 900;
}

/* Add selector that will select second level headings */
h2 {
   font-weight: 300;
}

/* Add id selector for parent section */
#parent {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   grid-gap: 40px;
}

/* Add selector for figures within section */
#parent figure {
   margin: 0;
   padding: 10px;
   border: 1pt solid black;
}

/* Add selector for first <p> elements after <h2> */
h2+p {
   font-style: italic;
}

/* Add selector for all <p> elements that follow an <h2> */
h2~p {
   color: slateblue;
}

/* Add selector for elements whose alt attribute contains Museum */
[alt*=Museum] {
   border: 1pt solid slateblue;
   padding: 5px;
}

/* Add selector for links within figcaption that makes them look like a button */
figcaption a:link {
   display: inline-block;
   background-color: darkblue;
   color: white;
   padding: 1em 1.5em;
   text-decoration: none;
   text-transform: uppercase;   
}

/* Add selector for same links hover appearance */
figcaption a:hover {
   background-color: slateblue;

}