:root {
   /* Primaries: Blue, Vivid Yellow   */
   --color-primary-1-050: #DCEEFB;
   --color-primary-1-100: #B6E0FE;
   --color-primary-1-200: #84C5F4;
   --color-primary-1-300: #62B0E8;
   --color-primary-1-400: #4098D7;
   --color-primary-1-500: #2680C2;
   --color-primary-1-600: #186FAF;
   --color-primary-1-700: #0F609B;
   --color-primary-1-800: #0A558C;
   --color-primary-1-900: #003E6B; 

   --color-primary-2-050: #FFFBEA;
   --color-primary-2-100: #FFF3C4;
   --color-primary-2-200: #FCE588;
   --color-primary-2-300: #FADB5F;
   --color-primary-2-400: #F7C948;
   --color-primary-2-500: #F0B429;
   --color-primary-2-600: #DE911D;
   --color-primary-2-700: #CB6E17;
   --color-primary-2-800: #B44D12;
   --color-primary-2-900: #8D2B0B;   

   /* neutral: grey */
   --color-neutral-050: #F0F4F8;
   --color-neutral-100: #D9E2EC;
   --color-neutral-200: #BCCCDC;
   --color-neutral-300: #9FB3C8;
   --color-neutral-400: #829AB1;
   --color-neutral-500: #627D98;
   --color-neutral-600: #486581;
   --color-neutral-700: #334E68;
   --color-neutral-800: #243B53;
   --color-neutral-900: #102A43;

   /* Supporting: Cyan, Red,   */
   --color-support-1-050: #E0FCFF;
   --color-support-1-100: #BEF8FD;
   --color-support-1-200: #87EAF2;
   --color-support-1-300: #54D1DB;
   --color-support-1-400: #38BEC9;
   --color-support-1-500: #2CB1BC;
   --color-support-1-600: #14919B;
   --color-support-1-700: #0E7C86;
   --color-support-1-800: #0A6C74;
   --color-support-1-900: #044E54;          

   --color-support-2-050: #FFEEEE;
   --color-support-2-100: #FACDCD;
   --color-support-2-200: #F29B9B;
   --color-support-2-300: #E66A6A;
   --color-support-2-400: #D64545;
   --color-support-2-500: #BA2525;
   --color-support-2-600: #A61B1B;
   --color-support-2-700: #911111;
   --color-support-2-800: #780A0A;
   --color-support-2-900: #610404;    
   
      


}